#my-paragraph {
    color: red;
}

/* .header {
color: blue;
} */

.header {
  color: blue;
  text-align: right;
  font-weight: lighter;
}

img {
  width: 200px;
}

* {
  border: 1px solid aquamarine;
}

button {
  /* padding: 10px; */
  /* changed from padding to margin */
  margin: 10px;
}

.noot {
	color: green;
}

@keyframes fire {
	0% {color: red; transform: translate(100px, 0px);}
	50% {color: yellow; transform: translate(0px, 0px);}
	100% {color: red; transform: translate(100px, 0px);}
}

#last {
	color: green;
	animation: fire 4s ease infinite;
}
