#my-paragraph {
    color: red;
}

/* .header {
color: blue;
} */

.header {
  color: blue;
  text-align: right;
  font-weight: lighter;
}

img {
  width: 200px;
}

* {
  border: 1px solid aquamarine;
}

button {
  /* padding: 10px; */
  /* changed from padding to margin */
  margin: 10px;
}

h1 {
	font-size: 72px;
	font-family: 'Charmonman', 'Comic Sans MS';
}
